<html>
    <head>
        <meta charset="UTF-8">
        <title>Application Monitor</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/router.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script src="monitor.js" type="text/javascript"></script>
    </head>
    <body>
        <div class="logo-background">
            <img src="../logo.png" alt="lottomart">
        </div>

        <!-- <div id="chart_div" style="width: 400px; height: 120px;"></div> -->

        <p></p>

        <div class="container" ng-controller="mainController">
            <p>
                <button class="mbButton" go-click="/router/index.html"><img src="../images/home-24.png" alt="Home"/><br />Home</button>
            </p>
            <div class="pull-right">
                <img ng-src="../images/{{wsImage}}-48.png" alt="Not Connected" />
            </div>
            <div><p><h3>Load</h3></p></div>
            <div id="chart_div"></div>
            <div><p></p></div>
            <div id="memory_div"></div>
        </div>
    </body>
</html>
