/* 
    Created on : 11-May-2016, 14:12:07
    Author     : dhudson
*/

body { padding-top:50px; }

.CRASHED {
    color : red
}
.FAILED {
    color : orange
}
.ACTIVE {
    color : green
}
.QUIESCED {
    color : blue
}
