<html>
    <head>
        <meta charset="UTF-8">
        <title>Application Status</title>

        <!-- CSS -->
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../css/router.css">

        <!-- JS -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
        <script src="status.js" type="text/javascript"></script>

    </head>
    <body>
        <div class="logo-background">
            <img src="../logo.png" alt="lottomart">
        </div>

        <p></p>

        <div class="container" ng-app="sortApp" ng-controller="mainController">
            <p></p>
            <h1 style="background: {{constructColour}}">{{constructName + "-" + constructType}}</h1>
            <p></p>
            <div class="pull-right">
                <img ng-src="../images/{{wsImage}}-48.png" alt="Not Connected" />
            </div>

            <p>
                <button class="mbButton" go-click="/router/index.html"><img src="../images/home-24.png" alt="Home"/><br />Home</button>
            </p>

            <table width="80%">
                <tr>
                    <td><label>Active    {{activeCount}}</label></td>
                    <td><label>Crashed    {{crashedCount}}</label></td>
                    <td><label>Total    {{nodeCount}}</label></td>
                </tr>
            </table>

            <form>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-search"></i></div>
                        <input type="text" class="form-control" placeholder="Search" ng-model="searchValue">
                    </div>      
                </div>
            </form>

            <table class="table table-bordered table-striped">

                <thead>
                    <tr>
                        <td>
                            <a href="#" ng-click="sortType = '[\'nodeId\']';
                                        sortReverse = !sortReverse">
                                Id 
                                <span ng-show="sortType === '[\'nodeId\']' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType === '[\'nodeId\']' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'type';
                                        sortReverse = !sortReverse">
                                Type
                                <span ng-show="sortType === 'type' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType === 'type' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = '[\'host\']';
                                        sortReverse = !sortReverse">
                                Host Name
                                <span ng-show="sortType === '[\'host\']' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType === '[\'host\']' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = 'status';
                                        sortReverse = !sortReverse">
                                Status 
                                <span ng-show="sortType === 'status' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType === 'status' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>
                            <a href="#" ng-click="sortType = '[\'lastUpdated\']';
                                        sortReverse = !sortReverse">
                                Last Updated 
                                <span ng-show="sortType === '[\'lastUpdated\']' && !sortReverse" class="fa fa-caret-down"></span>
                                <span ng-show="sortType === '[\'lastUpdated\']' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </td>
                        <td>Version</td>
                        <td>Master</td>
                        <td>Node Info</td>
                        <td>Node Logs</td>
                        <td>Timings</td>
                        <td>Quiesce</td>
                        <td>Stop</td>
                        <td>Deregister</td>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="nodeRecord in nodeConfigs| orderBy:sortType:sortReverse | filter:searchValue">
                        <td>{{nodeRecord.nodeId}}</td>
                        <td>{{nodeRecord.type}}</td>
                        <td><a href="{{nodeRecord.contextUrl}}/index.html" target="_blank">
                                {{nodeRecord.host}}
                            </a></td>
                        <td ng-class="nodeRecord.status">{{nodeRecord.status}}</td>
                        <td>{{nodeRecord.lastUpdatedTime}}</td>
                        <td>{{nodeRecord.version}}</td>
                        <td>{{nodeRecord.master}}</td>
                        <td style=" text-align:center" >
                            <a ng-if="nodeRecord.status !== 'CRASHED' && nodeRecord.status !== 'STOPPED'"
                                ng-click="nodeDetails(nodeRecord)" href="" target="_blank">
                                <img src="../images/info-24.png" alt="info"/>
                            </a>
                        </td>
                        <td style=" text-align:center">
                            <a ng-if="nodeRecord.status !== 'CRASHED' && nodeRecord.status !== 'STOPPED'" href="{{nodeRecord.contextUrl}}/nodelogs/index.html" target="_blank">
                                <img src="../images/logs-24.png" alt="info"/>
                            </a>
                        </td>
                        <td style=" text-align:center">
                            <a ng-if="nodeRecord.status === 'ACTIVE'" href="{{nodeRecord.contextUrl}}/timings/index.html" target="_blank">
                                <img src="../images/timings-24.png" alt="info"/>
                            </a>
                        </td>
                        <td style=" text-align:center"><a ng-if="nodeRecord.status === 'ACTIVE' || nodeRecord.status === 'QUIESCED'" href="" ng-click="quiesceNode(nodeRecord)"><img src="../images/quiesce-24.png" alt="Quiesce"/></a></td>
                        <td style=" text-align:center"><a ng-if="nodeRecord.status === 'ACTIVE' || nodeRecord.status === 'QUIESCED'" href="" ng-click="stopNode(nodeRecord)"><img src="../images/stop-24.png" alt="Stop"/></a></td>
                        <td style=" text-align:center"><a ng-if="nodeRecord.status === 'CRASHED'" href="" ng-click="deregisterNode(nodeRecord)"><img src="../images/deregister-24.png" alt="Deregister"/></a></td>
                    </tr>
                </tbody>
            </table>

            <div>
                <button ng-click="dumpCache()"><img src="../images/dump-24.png" alt="Dump"/><br />Dump Cache</button>
                <button ng-click="logCache()"><img src="../images/dump-24.png" alt="Log"/><br />Log Cache</button>
                <!-- <button ng-click="splash()"><img src="../images/splash-24.png" alt="Splash"/><br />Splash Edges</button> -->
                <button ng-click="quiesce()"><img src="../images/quiesce-24.png" alt="Quiesce" /><br />Quiesce System</button>
            </div>
        </div>
    </body>
</html>
