<html>
<head>
    <meta charset="UTF-8">
    <title>Casanova Status</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/router.css">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="system.js" type="text/javascript"></script>

</head>
<body>
<div class="logo-background">
    <img src="../logo.png" alt="lottomart">
</div>

<p></p>

<div class="container" ng-app="sortApp" ng-controller="mainController">
    <p></p>
    <h1 style="background: {{constructColour}}">{{constructName + "-" + constructType}}</h1>
    <p></p>

    <p>
        <button class="mbButton" go-click="/router/index.html"><img src="../images/home-24.png" alt="Home"/><br/>Home
        </button>
    </p>

    <table class="table table-bordered table-striped">

        <thead>
        <tr>
            <td>UUID</td>
            <td>Config Date Changed</td>
            <td>Config</td>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{uuid}}</td>
            <td>{{dateChanged}}</td>
            <td>
                <pre>{{systemConfigs}}</pre>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <button ng-click="reloadSystemProperties()"><img src="../images/refresh-24.png" alt="Reset"/><br/>Reload system
            properties
        </button>
        <button ng-click="generateUUID()"><img src="../images/refresh-24.png" alt="Reset"/><br/>Generate new UUID
        </button>
    </div>
</div>
</body>
</html>
